.App {
    transition: opacity 0.4s ease-in-out;
    color: #555 !important;
}

a {
    color: #999;
    text-decoration-color: #bbb;
}

.header a {
    text-decoration: inherit;
}

a:hover {
    color: #aaa;
}

.content {
    transition: opacity 0.5s ease-in-out;
    /* margin-top: 60px; */
    width: 100%;
    max-width: 1186px;
    margin-left: auto;
    margin-right: auto;
}

.header-bg {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff !important;
    height: 50px;
    width: 100%;
    z-index: 100;
}

.header {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.name {
    border-right: 1px solid #eee;
    font-size: 20px;
}

.header .name {
    padding-left: 10px;
    float: left;
    flex: 1 0 50%;
}

.header .menu {
    padding-right: 10px;
    float: right;
    font-size: 20px;
}

.header .menu .btn.first {
    padding-right: 10px;
}

.header .menu .btn {
    padding-left: 10px;
}

.showcase {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-end;
}

.image-box {
    flex: 1 0 33%;
    max-width: 394px;
    max-height: 294px;
    min-width: 200px;
    z-index: 1;
    background-size: cover;
}

.image-box.wide {
    flex: 1 0 50%;
    max-width: 788px;
}

.image-box img:hover {
    opacity: 0.5;
}

.image-box:hover .project--name {
    opacity: 1;
}

.image-box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    margin: 2px;
}

.container {
    padding: 12px;
    padding-top: 50px;
}

.project--image-box:nth-child(1) {
    padding-top: 30px;
}

.project--image-box:nth-child(2) {
    margin-top: -5px;
}

.project--image-box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.project--image-box .iframe-video, .project--image-box img {
    display: inline;
    max-width: 100%;
    object-fit: cover;
}

.project--name {
    position: absolute;
    margin: 30px;
    opacity: 0;
    color: #000;
    font-size: 30px;
    max-width: 337px;
}

.img-item {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    min-width: 200px;
    margin-right: auto;
    max-width: 600px;
}

.project--img-container {
    position: relative;
    text-align: center;
}

.project--img-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    background-color: #fff;
    color: #aaa;
}

.one-image img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    overflow: hidden;
    display: block;
}

.small-right, .small-left {
    margin-top: 5px;
}

.small-left {
    order: 1;
}

.small-right {
    order: 4;
}

.small-right .iframe-video, .small-left .iframe-video {
    margin-top: -5px;
    display: block;
}

.small-right img, .small-left img {
    margin-top: -5px;
}

.big-right {
    order: 2;
}

.big-left {
    order: 3;
}

.highlight {
    font-size: 18px;
    color: #aaa;
}

.project--name .highlight {
    color: #000;
}

.p--project span {
    display: inline-block;
    width: 50%;
    flex: 1 0 50%;
}

.p--project span:nth-child(2) {
    text-align: right;
}

.p--project {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

p.right {
    float: right;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.cv {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}

.cv--item {
    flex-basis: 100%;
    word-break: auto;
    line-break: auto;
}

.cv-img {
    width: 100%;
    height: 500px;
    object-fit: scale-down;
    background: #000;
}

.cv--image {
    max-width: 50%;
}

.cv--contact-details {
    word-break: normal;
    line-break: auto;
    max-width: 49%;
    padding-right: 0px;
    margin-right: 1%;
}

hr {
    border: none;
    border-top: 1px solid #eee;
}

.text-muted {
    color: #888;
}

.footer {
    padding-left: 5px;
}

.header .menu .btn.selected {
    border-bottom: none;
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .cv--image {
        max-width: 100%;
    }
    .cv--contact-details {
        max-width: 100%;
        padding-right: 0px;
    }
    .p--project span {
        display: inline-block;
        width: 100%;
        flex: 1 0 100%;
    }
    .p--project span.highlight {
        display: inline-block;
        width: 100%;
        flex: 1 0 100%;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .name .highlight {
        display: none;
    }
}

@media only screen and (max-width: 415px) {
    .project--name {
        text-shadow: 1px 1px 2px black;
        color: #fff;
        opacity: 1;
    }
    .project--name .highlight {
        text-shadow: 1px 1px 2px black;
        color: #fff;
        opacity: 1;
    }
    .image-box img:hover {
        opacity: 1;
    }
}

@media only screen and (max-width: 324px) {
    .name .short-name {
        display: block;
    }
    .name .full-name {
        display: none;
    }
}